<template>
  <div id="app">
    <v-app>
      <v-content>
        <v-layout>

          <v-flex xs12 class="backdrop-back-layer primary">
            <v-toolbar dense flat color="primary" dark>
              <v-toolbar-side-icon v-if="translation == baseTranslation" @click="activateBackLayer">
                <v-icon>menu</v-icon>
              </v-toolbar-side-icon>
              <v-toolbar-side-icon v-else @click="activateFrontLayer">
                <v-icon>arrow_back</v-icon>
              </v-toolbar-side-icon>
              <v-toolbar-title class="d-flex align-center">Gitnaut</v-toolbar-title>
            </v-toolbar>

            <section class="backdrop-back-layer__content">
              <v-layout>
                <v-flex xs12>
                  <v-btn v-for="(btn, i) in buttons" :key="i" :loading="btn.loading" :disabled="btn.loading || timeout !== null" dark color="secondary" @click="genericButtonClick(btn)">
                    <v-icon left>{{ btn.icon }}</v-icon>
                    {{ btn.text }}
                  </v-btn>
                </v-flex>
              </v-layout>
            </section>
          </v-flex>

          <v-flex xs12 class="backdrop-front-layer" :style="computedStyle" @click="activateFrontLayer">
            <v-flex xs12 class="backdrop-front-layer__subtitle">Changes</v-flex>
            <router-view />
          </v-flex>

        </v-layout>
      </v-content>

      <v-snackbar :value="snackbar.message !== ''" bottom left :timeout="0">
        {{ snackbar.message }}
        <v-btn color="accent" flat @click="cancel">
          Cancel
        </v-btn>
      </v-snackbar>
    </v-app>
  </div>
</template>

<script>
export default {
  data: () => ({
    baseTranslation: 128,
    translation: 0,

    buttons: [
      {
        text: 'Fetch',
        icon: 'sync',
        loading: false,
        message: 'Fetching...'
      },
      {
        text: 'Pull',
        icon: 'cloud_download',
        loading: false,
        message: 'Pulling...'
      },
      {
        text: 'Push',
        icon: 'cloud_upload',
        loading: false,
        message: 'Pushing...'
      },
      {
        text: 'Stash',
        icon: 'archive',
        loading: false,
        message: 'Stashing...'
      },
      {
        text: 'Pop',
        icon: 'unarchive',
        loading: false,
        message: 'Popping...'
      }
    ],
    timeout: null,

    snackbar: {
      message: ''
    }
  }),

  computed: {
    computedStyle() {
      return {
        transform: `translateY(${this.translation}px)`
      }
    },

    isFrontLayerActive() {
      return this.translation > this.baseTranslation
    }
  },

  created() {
    this.translation = this.baseTranslation
  },

  mounted() {
  },

  methods: {
    activateFrontLayer() {
      this.translation = this.baseTranslation
    },

    activateBackLayer() {
      // const backLayerContentRect = this.$refs['back-layer-content'].getBoundingClientRect()
      // this.translation = backLayerContentRect.y + backLayerContentRect.height
      this.translation = 532
    },

    genericButtonClick(btn) {
      this.activateBackLayer()
      
      btn.loading = true
      this.snackbar.message = btn.message

      this.timeout = setTimeout(() => {
        btn.loading = false
        this.snackbar.message = ''
        this.timeout = null
      }, 3000)
    },
    cancel() {
      clearTimeout(this.timeout)
      this.timeout = null
      this.buttons.find(btn => btn.loading).loading = false
      this.snackbar.message = ''
    }
  }
}
</script>

<style>
.backdrop-back-layer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.backdrop-back-layer__content {
  padding: 1em 5em 2em 5em;
}

.backdrop-front-layer {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #ffffff;
  transform-origin: bottom;
  transition: .3s cubic-bezier(.25, .8, .5, 1);
}

.backdrop-front-layer__subtitle {
  padding: 16px;
  line-height: 1em;
  font-size: 1em;
}
</style>

