<template>
  <div>
    <div>
      <label>
        Clone URL
        <input type="text" v-model="url" />
      </label>
    </div>
    <div>
      <label>
        Clone destination
        <input type="text" v-model="path" />
      </label>
    </div>
    <div>
      <label>
        Checkout branch
        <input type="text" v-model="branch" />
      </label>
    </div>
    <div>
      <label>
        User name
        <input type="text" v-model="userName" />
      </label>
    </div>
    <div>
      <label>
        Password
        <input type="text" v-model="password" />
      </label>
    </div>
    <div>
      <button @click="clone">Clone</button>
    </div>

  </div>
</template>

<script>
  const boundObjectService = require('./services/registered-js-object.service');
  
  export default {
    data: () => ({
      url: 'https://DuardHarmse@bitbucket.org/DuardHarmse/crane.git',
      path: 'C:/Repos/demo-projects-master/angular-react-vue/ChromelyVueCefSharp/crane',
      branch: 'master',
      userName: 'duardharmse@gmail.com',
      password: ''
    }),
  
    methods: {
      clone() {
        const data = {
          url: this.url,
          path: this.path,
          branch: this.branch,
          userName: this.userName,
          password: this.password
        }
  
        boundObjectService.boundObjectPost('/gitnaut/clone', null, data, console.log)
      },
  
      checkout() {
        const data = {
          path: this.path,
          branch: this.branch
        }
  
        boundObjectService.boundObjectPost('/gitnaut/checkout', null, data, console.log)
      },
  
      listBranches() {
        const data = {
          path: this.path
        }
  
        boundObjectService.boundObjectPost('/gitnaut/repositories', null, data, console.log)
      }
    }
  }
  </script>
