﻿body, html {
    height: 100%;
    display: grid;
}

* {
    outline: none !important;
}

.centerBlock {
    display: table;
    margin: auto;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.invisible {
    visibility: hidden;
}

.modal-dialog {
    width: 80%;
}

